:root {
    --primary-color: #2176ff;
    --secondy-color: #040D33;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100vw;
    background-color: var(--secondy-color);
    overflow-x: hidden;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: var(--secondy-color);
}
