@import 'geral.css';

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondy-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav.header__nav {
    display: flex;
    gap: 20px;
}