@import 'geral.css';

h1 {
    font-family: sans-serif;
    font-size: 30px;
    color: #dee2e6;
}

h2 {
    font-size: 28px;
    font-family: sans-serif;
    color: #dee2e6;
}

h3 {
    font-size: 22px;
    font-family: sans-serif;
    color: #dee2e6;
}

p {
    line-height: 20px;
    font-family: sans-serif;
    color: #ced4da;
}

p.score {
    color: var(--primary-color)
}

p#s2 {
    width: 40%;
    text-align: right;
}

span {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 3px;
}

a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    color: var(--primary-color);
}

a.header__nav-link {
    text-transform: uppercase;
    letter-spacing: 3px;
}

a:hover {
    text-decoration: underline;
}
